$bg-color: #f2f2f2;

html, 
body {
    height: 100%;
}

body {
    background-color: $bg-color;
}

fieldset {
    margin: .7rem 0;
    border: .5px solid lightgray;
    border-radius: .5rem;
    padding: .5rem;

    & legend {
        margin: -1.7rem .1rem 0 0;
        width: auto;
        padding: 0 .5rem;
        background-color: #fff;
    }
}

.button-group {
    margin: 0 -.25rem;

    & button {
        margin: 0 .25rem;
    }
}

// ------------- Bootstrap override ----------------- //
.form-group {
    margin-bottom: .5rem;
}